<script>
	$(function() {
		$( ".event_date" ).datepicker( {
			dateFormat: "dd-mm-yy",
			changeMonth: true,
			changeYear: true
		} );
	});
</script>

<%= form_for(@event) do |f| %>
	<% if @event.errors.any? %>
		<div id="error_explanation">
			<h2>
				Tallentaminen ep채onnistui:
			</h2>

			<ul>
				<% @event.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field input-group input-group-lg">
		<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		<%= f.text_field :event_date, :class => "event_date form-control", :placeholder => "Esityksen ajankohta" %>
	</div>

	<div class="field input-group input-group-lg">
		<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
		<%= f.text_field :event_name, :class => "form-control", :placeholder => "Esityksen nimi" %>
	</div>

	<div class="field input-group input-group-lg">
		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		<%= f.text_field :participantCount, :class => "form-control", :placeholder => "Osallistujam채채r채" %>
	</div>
	
	<div class="field input-group input-group-lg">
		<h3>Valitse elokuvat:</h3>
	</div>
	
	<div>
		<% Movie.all.sort_by{|obj| obj.movie_name}.each_with_index do |movie, index| %>
			<% if index % 3 == 0 %>
				<div class="row">
			<% end %>

			<div class="col-lg-4">
				<div class="input-group">
					<span class="input-group-addon">
						<% if @event.movies.include? movie %>
							<%= check_box_tag 'movie_ids[]', movie.id, :checked => true %>
						<% else %>
							<%= check_box_tag 'movie_ids[]', movie.id %>
						<% end %>
					</span>
					<input type="text" class="form-control" value="<%= movie.movie_name %>" disabled>
				</div>
			</div>

			<% if index % 3 == 2 || index == Movie.all.length-1 %>
				</div>
			<% end %>
		<% end %>
	</div>
	
	<br>

	<div class="actions">
		<%= f.submit "Talleta esitys", :class => "btn btn-default" %>
		<%= link_to 'Takaisin esityksiin', events_path, :class => "btn btn-default" %>
	</div>	
<% end %>
