<!DOCTYPE html>

<html>

<head>
	<title>JärvenKino</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<div class="container">	
		<div class="header">
			<h1 class="text-muted">Järvenkino</h1>
			<ul class="nav nav-tabs ">
 				<li class="<%= 'active' if params[:controller] == 'events' %>">
					<%= link_to 'Esitykset', events_path %>
				</li>
				
				<li class="<%= 'active' if params[:controller] == 'movies' %>">
					<%= link_to 'Elokuvat', movies_path %>
				</li>

				<% if admin_rights %>
				<li class="<%= 'active' if params[:controller] == 'users' %>">
					<%= link_to "Luo tunnus", sign_up_path %>
				</li>
				<% end %>

				<% if current_user %>
					<li class="<%= 'active' if params[:controller] == 'sessions' %>">
						<%= link_to "Kirjaudu ulos", log_out_path %>
					</li>
				<% else %>
					<li class="<%= 'active' if params[:controller] == 'sessions' %>">
						<%= link_to "Kirjaudu", log_in_path %>
					</li>
				<% end %>
				
			</ul>
		</div>
		
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %></font>
		<% end %>

		<%= yield %>
	</div>
</body>

</html>
